@import 'base';
#shopCar{
	border:3px solid pink;
	border-radius:5px;
	padding:30px 25px;
	margin:45px 0;
	position: relative;
	h3{
		position: absolute;
		top:-25px;
		left: 0;
	}
	.shopCar_t{
		p{
			line-height: 36px;
			background:#F4F3F1;
			span:first-child{
				margin-left:14px;
			}
			span:nth-child(2){
				margin-left:232px;
			}
			span:nth-child(3){
				margin-left:250px;
			}
			span:nth-child(4){
				margin-left:130px;
			}
			span:nth-child(5){
				margin-left:130px;
			}
			span:nth-child(6){
				margin-left:130px;
			}
	

		}
	}
	.shopCar_m{
		ul{
			border-bottom:1px solid gray;
			height: 150px;
			width: 100%;
			padding: 26px 14px 0 0;
			.widen{
					width: 160px;
			}
			li{
				float:left;
				&:first-child{
					margin-left:14px;
				}
				&:nth-child(2){
					margin-left:20px;
				}
				&:nth-child(3){
					margin-left:45px;
				}
				&:nth-child(4){
					margin-left:150px;
				}
				&:nth-child(5){
					margin-left:-20px;
					input{
						width: 45px;
						height: 30px;
						text-align:center;
					}
					button{
						// display:inline-block;
						border:0;
						width: 20px;
						padding:1px;
						height: 30px;
						background:#F4F3F1;	
						// text-align:center;
					}
				}
				&:nth-child(6){
					margin-left:10px;
				}
				&:nth-child(7){
					padding-left:10px;
				}
			}
		}
	}
	.shopCar_b{
		padding-top:20px;
		p:first-child{
			span{padding:14px;
				&:last-child{
					margin-left:350px;
					i{
						color:#CC281E;
						font-size:16px;
						font-style:normal;
					}
				}
			}	
		}
		p:last-child{
			padding-top:50px;
			position: relative;
			.go{
				display:inline-block;
				padding:10px 20px;
				border:1px solid #F4F3F1 ;
				color:red;
			}
			.total{
				display:inline-block;
				position: absolute;
				right: 20px;
				padding:10px 20px;
				background:#CC281E;
				color:white;
			}
		}
	}

}
