@charset "UTF-8";
body, h1, h2, h3, h4, p, a, input, img, ul, li, ol, dl, dt, dd { padding: 0; margin: 0; }

ul, ol, li { list-style: none; }

img { border: 0; }

input { outline: none; }

header, footer, section, nav { display: block; }

html, body { overflow: auto; font-size: 12px; font-family: "微软雅黑"; color: #3e3e3e; }

a { text-decoration: none; color: black; }

a:hover { text-decoration: underline; }

* { box-sizing: border-box; }

.containter { width: 1263px; height: 100%; margin: 0 auto; position: relative; }

header .left, header .left li, header .right li, nav .top .logo, nav .top .search { float: left; }

header .right { float: right; }

/***¶¥²¿****/
header { height: 30px; width: 100%; background-color: #F4F3F1; }

header .left li { height: 100%; line-height: 30px; }

header .left li a { padding: 0 10px; }

header .right li { height: 100%; line-height: 30px; padding: 0 10px; }

/*******µ¼º½***************/
nav { /**********ÉÏ²¿ËÑË÷*************/ /*********ÏÂ²¿µ¼º½Ìõ**************/ }

nav .top { height: 110px; background: #FFFFFF; }

nav .top .search { padding: 35px 0; font-size: 14px; position: relative; }

nav .top .search input { text-indent: 2em; width: 550px; height: 36px; border: 3px solid #D6362A; border-radius: 18px; }

nav .top .search button { width: 100px; height: 26px; background: #D6362A; color: white; text-align: center; border: 0; border-radius: 18px; position: absolute; left: 444px; top: 41px; }

nav .top .search .shopcar { display: inline-block; width: 165px; height: 36px; border-radius: 18px; background: #D6362A; text-align: center; padding: 8px 0; }

nav .top .search .shopcar a { color: white; }

nav .top .search .shopcar a strong { padding: 0 2px; }

nav .bottom { height: 35px; background: #D6362A; width: 100%; line-height: 35px; }

nav .bottom .list1 { height: 100%; position: relative; }

nav .bottom .list1 a { display: block; color: white; padding: 0 20px; height: 100%; float: left; }

nav .bottom .list1 a:hover { background: white; color: red; }

nav .bottom span { position: relative; }

nav .bottom span ul { width: 95px; position: absolute; top: 35px; right: 1px; border: 1px solid red; display: block; }

nav .bottom span ul a { background: white; color: red; }

nav .bottom strong { position: absolute; left: 20px; font-size: 40px; color: white; }

#login { width: 712px; height: 600px; margin: 0 auto; }

#login .top { height: 170px; text-align: center; }

#login .bottom fieldset { padding: 45px 0 45px 157px; border: 2px solid #D6362A; border-radius: 10px; }

#login .bottom fieldset div { padding: 8px 0; }

#login .bottom fieldset div #mobile, #login .bottom fieldset div #password, #login .bottom fieldset div #denglu, #login .bottom fieldset div #zhuche { width: 390px; height: 26px; }

#login .bottom fieldset div label { padding: 10px 0; }

#login .bottom fieldset div input { padding-bottom: 10px; }

#login .bottom fieldset div button { width: 390px; height: 26px; background: #D6362A; border: 0; border-radius: 13px; color: white; }

.erweima { position: fixed; top: 70%; right: 0; }

/**********·ÖÀàÁ´½Ó***************/
#classify { height: 220px; width: 100%; }

#classify ul { padding-left: 47px; }

#classify ul::after { content: ''; height: 0; clear: both; overflow: hidden; }

#classify ul li { float: left; width: 171px; height: 220px; background: red; margin-right: 28px; }

/******µ×²¿*********/
footer { background: #F4F3F1; }

footer .footerTop { height: 195px; background: #F4F3F1; }

footer .footerTop ul { overflow: hidden; padding: 49px 0 49px 47px; }

footer .footerTop ul li { float: left; width: 175px; height: 111px; margin-right: 26px; text-align: center; }

footer .footerTop ul li img { margin: 0 auto; }

footer .footerTop ul li p { height: 24px; padding-top: 5px; }

footer .footerMiddle { width: 100%; height: 180px; background: #F4F3F1; padding-left: 100px; }

footer .footerMiddle .containter { width: 1200px; height: 100%; border-top: 1px solid white; }

footer .footerMiddle div { padding-top: 20px; float: left; width: 230px; }

footer .footerMiddle div h4 { font-size: 14px; }

footer .footerMiddle div p { padding-top: 10px; height: 20px; }

footer .footerMiddle div a { color: black; }

footer .footerBottom { padding-bottom: 50px; }

footer .footerBottom p { text-align: center; height: 29px; }

footer .footerBottom p a { padding: 0 15px; border-right: 1px solid black; }

footer .footerBottom p a:last-child { border: none; }

/***************¹Ì¶¨À¸************/
